<div class="foot-top">
  <div class="container">
    <div class="col-md-12 s-c">
      <li>
        <div class="fooll">
          <h5>郑重声明：</h5>
        </div>
      </li>
      <li>
          <p>本站所属信息，皆为二手车信息，价格透明、图片实拍、保质保量，详询微信客服。</p>
      </li>
        <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="footer">
    <div class="container">
        <div class="clearfix"></div>
        <p>Copyrights © 2017 Hoo!Motor. All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
</div>
