<div class="special">
  <div class="container">
    <h3>超值特价</h3>
    <div class="specia-top">
      <ul class="grid_2">
      {% for product in site.categories.special %}
    <li>
        <a href="{{ product.url }}"><img src="{{ product.image_path }}/{{ product.special_image }}" class="img-responsive" alt=""></a>
        <div class="special-info grid_1 simpleCart_shelfItem">
          <h5>{{ product.title }}</h5>
          <div class="item_add"><span class="item_price"><h6>参考价 ¥{{ product.discount_price }}</h6></span></div>
          <div class="item_add"><span class="item_price"><a href="{{ product.url }}">查看详情</a></span></div>
        </div>
    </li>
    {% endfor %}
    <div class="clearfix"> </div>
  </ul>
    </div>
  </div>
</div>
